.marvel{color: white; height: 60px;  background-image: linear-gradient(red,black); }

.logs{
    background-image: linear-gradient(purple,pink);
}
.logs1{
    background-color: pink;
}


dl{
    font-weight: 100;
    background-color: #00796b;
    border-radius: 1%;
}



.heybutton{
    border-radius: 10px;
}
body {
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


nav {

   background: linear-gradient(182deg, #ff0000, #2600ff, #ff6600);
        background-size: 800% 800%;
    
        -webkit-animation: AnimationName 10s ease infinite;
        animation: AnimationName 10s ease infinite;
       padding: 18px;
        text-align: center;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 1000;
    
}

nav a {
   
    font-weight: bold;
    color: #14e4d9;
    text-decoration: none;
    padding: 10px 20px;
    font-size: 18px;
    margin: 0 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

nav a:hover {
    border-radius: 100px 100px 100px 100px;
    background-color:rgba(0, 121, 107, 0.8);
}

.logo {

    border-radius: 100px 100px 100px 100px;
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
}

/* home */
#home {
    background-image: url('https://images.unsplash.com/photo-1633014041037-f5446fb4ce99?q=80&w=987&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}

.home-heading {
    color: #c50d0d;
    font-size: 48px; 
    margin: 20px 0;
}

.home-quote {
    font-size: 24px; 
    margin: 0 20px;
}

/* ==================================== */
#explore {
    text-align: center;
    background-color: #f5f5f5;
    padding: 50px 0;
}

h2 {
    text-align: center;
    font-size: 40px; 
    color: #333;
    margin-bottom: 30px;
}

.card-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    margin-top: 30px;
}

.card {
    flex: 1;
    overflow: hidden;
    margin-left: 30px;
    margin-right: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    margin-bottom: 20px;
}

.card:hover {
    transform: scale(1.05);
}

.card img {
    width: 100%;
    max-height: 200px;
    object-fit: cover;
    border-bottom: 2px solid #ddd;
}

.card-content {
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 0 0 10px 10px;
    position: relative;
    overflow: hidden;
    transition: background-color 0.3s ease;
}

.card:hover .card-content {
    background-color: rgba(0, 121, 107, 0.8);
}

.card-content h3 {
    color: #333;
    font-size: 28px; 
    margin-bottom: 10px;
}

.card-content p {
    color: #524a4a;
    font-size: 19.2px; 
    line-height: 1.5;
}

#gallery {
    text-align: center;
    background-color: #f9f9f9;
    padding: 50px 0;
}

.image-gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    margin: 30px;
}

.image-item {
    flex: 1;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    margin-bottom: 20px;
    animation: gallery 20s linear infinite;
}

.image-item:hover {
    transform: scale(1.05);
}

.image-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
    transition: opacity 0.3s ease;
    box-shadow: 0 8px 16px rgba(173, 48, 48, 0.2);
}

.image-item:hover img {
    opacity: 0.8;
}

.image-info {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 121, 107, 0.8);
    color: #fff;
    padding: 10px;
    box-sizing: border-box;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.image-item:hover .image-info {
    opacity: 1;
}

.image-info h3 {
    margin: 0;
    font-size: 24px; 
}

#about {
    text-align: center;
    background-color: #f5f5f5;
    padding: 50px 0;
}

.about-content {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
}

.author-image img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    object-fit: cover;
    box-shadow: 5px 10px 8px 10px #0a984e;
    transition: transform 0.3s ease;
}

.author-image img:hover {
    transform: scale(1.1);
}

.description {
    max-width: 600px;
    margin-left: 40px;
    text-align: left;
}

.description h3 {
    color: #00796b;
    font-size: 32px; 
    margin-bottom: 20px;
}

.description p {
    color: #666;
    font-size: 19.2px;
    line-height: 1.6;
    margin-bottom: 15px;
}
#about{background-image:
    radial-gradient(circle at top right, #1aa707, rgb(255, 145, 0), #1aa707);
      }
#contact {
    text-align: center;
    background-color: #f9f9f9;
    padding: 50px 0;
}

.contact-form {
     background-image:linear-gradient(green,black);
     
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
}

.form-fields {
    max-width: 400px;
    margin-right: 40px;
    text-align: left;
}

.input-field {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px; 
}



textarea {
    resize: vertical;
}

.submit-btn {
    background-color: #00796b;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 19.2px; 
    transition: background-color 0.3s ease;
}

.submit-btn:hover {
    background-color: #004d40;
}

.contact-illustration img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.contact-illustration img:hover {
    transform: scale(1.05);
}

footer {
    background-color: #111;
    color: #fff;
    padding: 10px 15px;
    text-align: center;
}

footer p {
    margin: 0;
    font-size: 19.2px; 
}

footer div {
    margin-top: 20px;
    font-size: 17.6px; 
}

footer a {
    color: #4caf50;
    text-decoration: none;
    transition: color 0.3s ease;
}

footer a:hover {
    color: #45a049;
}

